<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  {{!-- <p>
    <span for="img" aria-label="money">💲</span>
    <span class="dollar-amount">{{format_amount needed_funding}}</span>
    needed
  </p> --}}
  
  <form class="form comment-form">
      <div class="form-group-comment" id="comment-form">
        <label> Add a comment here:</label>
        <input class="form-input" type="text" id="comment-body" name="comment-body" />
      </div>
      </form>
  <p>
    <button id="comment-button" class="btn btn-primary" type="submit"> Comment on this blog!</button>
  </p>
</div>

<p>{{comment-description}} </p>

  {{!-- <section id="comments">

      {{#each this}}
  <div>
    <p>
    {{comment.description}} 
    </p>
  </div>
  {{/each}}
    <!-- For each painting that belongs to this gallery, the painting-details partial is used to render each painting's data -->
    {{!-- {{#each projects as |project|}}
    {{> comment-description}}
    {{/each}} --}}
  {{!-- </section>
</section> --}} 

<script src="/js/comment.js"></script>

<p>{{comment-description}} </p>

